<footer>
  <div class="background">
    <img src="assets/images/backgroundConcreteLong.jpg" alt="" />
  </div>
  <div class="left-side">
    <a href="https://www.n20.pl/" target="_blank">
      <img src="assets/icons/n20logo.png" alt="" />
    </a>
    <div class="info">
      <h2>Kontakt biura nieruchomości</h2>
      <br />
      <p><i class="fa-solid fa-envelope"></i> biuro&#64;N20.pl</p>
      <p><i class="fa-solid fa-phone"></i> +48 12 433 38 78</p>
      <p><i class="fa-solid fa-mobile"></i> +48 790 557 512</p>
      <p>
        <i class="fa-solid fa-location-dot"></i> Plac Wolnica 13/21, 31-060
        Kraków
      </p>
    </div>
  </div>
  <div class="right-side">
    <div class="links">
      <a
        class="link"
        href="https://www.facebook.com/N20RealEstate"
        target="_blank"
        ><img src="assets/icons/facebookLogo.png" alt=""
      /></a>
      <a
        class="link"
        href="https://www.instagram.com/n20_nieruchomosci?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank"
        ><img src="assets/icons/instagramLogo.png" alt=""
      /></a>
      <a class="link" href="https://www.n20.pl/" target="_blank">
        <img src="assets/icons/websiteLogo.png" alt=""
      /></a>
    </div>
    <div class="additional">
      <a href="#">Polityka Prywatności</a>
    </div>
  </div>
</footer>
