<div class="home-container">
  <img
    src="assets/images/sadowa20placeholder.jfif"
    alt="Sadowa 20"
    class="center-image"
    data-aos="fade-in"
    data-aos-duration="5000"
  />
  <h1 class="headline" data-aos="zoom-in" data-aos-duration="3000">
    Sadowa 20
  </h1>
  <p
    class="subtitle"
    data-aos="zoom-in"
    data-aos-delay="500"
    data-aos-duration="3000"
  >
    Twoja przyszłość zaczyna się tutaj
  </p>
  <div
    class="button-container"
    data-aos="zoom-in"
    data-aos-delay="1000"
    data-aos-duration="2000"
  >
    <button class="action-button" (click)="scrollToElement('houses')">
      Zobacz Domy
    </button>
    <button class="action-button" (click)="scrollToElement('contact')">
      Kontakt
    </button>
  </div>
</div>
