<div class="container">
  <div class="row">
    <div class="item item1">
      <img src="assets/images/placeholder1.jfif" alt="placeholder" />
    </div>
    <div class="item item2">
      <div class="text-container">
        <h2>Komunikacja publiczna</h2>
        <p>
          Efektywne i dostępne systemy transportu dla wszystkich użytkowników
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="item item3">
      <div class="text-container">
        <h2>Zdrowe otoczenie</h2>
        <p>
          Przyjazne, zielone przestrzenie wspierające zdrowie i dobre
          samopoczucie
        </p>
      </div>
    </div>
    <div class="item item4">
      <img src="assets/images/placeholder2.jfif" alt="placeholder" />
    </div>
  </div>
</div>
