<div class="main-container">
  <h2 class="title">Szczegóły domów</h2>
  <div class="choose-container">
    <div class="choose-image-container">
      <p id="ii-etap">II Etap</p>
      <ng-container *ngFor="let house of houses; let i = index">
        <button
          [ngClass]="house.parter.dostepnosc ? 'available' : 'unavailable'"
          class="house-choose-button"
          id="house{{ i + 1 }}a"
          (click)="selectHouse(house.parter, i)"
          [disabled]="i < 6"
        >
          {{ i + 1 }}a
        </button>
        <button
          [ngClass]="house.pietro.dostepnosc ? 'available' : 'unavailable'"
          class="house-choose-button"
          id="house{{ i + 1 }}b"
          (click)="selectHouse(house.pietro, i * 100)"
          [disabled]="i < 6"
        >
          {{ i + 1 }}b
        </button>
      </ng-container>

      <!-- reszta przyciskow -->
      <img src="assets/images/domyWybor.jpg" alt="" />
      <img class="logo" src="assets/logoSadowa.png" alt="" />
      <div class="house-details" *ngIf="selectedHouse">
        <div class="house-name">
          <div class="house-header">
            <div class="house-title">
              <h2>
                Dom numer <strong>{{ selectedHouse.numer }}</strong>
              </h2>
              <p
                [ngClass]="
                  selectedHouse.dostepnosc
                    ? 'house-available'
                    : 'house-unavailable'
                "
              >
                {{
                  parseInt(selectedHouse.numer) <= 6 &&
                  !selectedHouse.dostepnosc
                    ? "II Etap"
                    : selectedHouse.dostepnosc
                    ? "Dostępny"
                    : "Niedostępny"
                }}
              </p>
            </div>
            <button
              class="action-button"
              (click)="downloadPDF(selectedHouse.pdf)"
            >
              <i class="fa-solid fa-download"></i>
              <p>Szczegóły</p>
            </button>
          </div>
        </div>
        <hr />
        <div class="house-description">
          <p class="house-column">
            <i class="fa-solid fa-house"></i> Metraż:
            <strong>{{ selectedHouse.metraz }} m²</strong><br />
            <span class="house-column" *ngIf="selectedHouse.ogrodek">
              <i class="fa-solid fa-door-open"></i> Ogródek:
              <strong>{{ selectedHouse.ogrodek }} m²</strong></span
            >
          </p>

          <p class="house-column">
            <i class="fa-solid fa-people-roof"></i> Pokoje:
            <strong>{{ selectedHouse.pokoje }}</strong
            ><br />
            <i class="fa-solid fa-tags"></i> Cena:
            <strong>{{ selectedHouse.cena }} zł</strong>
          </p>
        </div>
        <hr />
        <div class="house-image">
          <img [src]="getImageURL(selectedHouse.obrazek)" alt="Obrazek domu" />
          <img
            *ngIf="selectedHouse.obrazekPoddasze"
            [src]="getImageURL(selectedHouse.obrazekPoddasze)"
            alt="Obrazek poddasza"
          />
        </div>
      </div>
    </div>
    <div class="table-container" #tableContainer>
      <ng-container class="table" *ngFor="let house of houses; let i = index">
        <div
          class="house-details alternate-background"
          [attr.id]="'house-parter' + i"
        >
          <div class="house-name">
            <div class="house-header">
              <div class="house-title">
                <h2>
                  Dom numer <strong>{{ house.parter.numer }}</strong>
                </h2>
                <p
                  [ngClass]="
                    house.parter.dostepnosc
                      ? 'house-available'
                      : 'house-unavailable'
                  "
                >
                  {{
                    parseInt(house.parter.numer) <= 6 &&
                    !house.parter.dostepnosc
                      ? "II Etap"
                      : house.parter.dostepnosc
                      ? "Dostępny"
                      : "Niedostępny"
                  }}
                </p>
              </div>
              <button
                class="action-button"
                ngClass="house-{{ i }}"
                (click)="downloadPDF(house.parter.pdf)"
              >
                <i class="fa-solid fa-download"></i>
                <p>Szczegóły</p>
              </button>
            </div>
          </div>
          <hr ngClass="house-{{ i }}" />
          <div class="house-description" ngClass="house-{{ i }}">
            <p class="house-column">
              <i class="fa-solid fa-house"></i> Metraż:
              <strong>{{ house.parter.metraz }} m²</strong><br />
              <i class="fa-solid fa-people-roof"></i> Pokoje:
              <strong>{{ house.parter.pokoje }}</strong>
            </p>

            <p class="house-column">
              <i class="fa-solid fa-tags"></i> Cena:
              <strong>{{ house.parter.cena }} zł</strong>
              <br />
              <i class="fa-solid fa-door-open"></i> Poziom:
              <strong>Parter</strong>
            </p>

            <p class="house-column" *ngIf="house.parter.ogrodek">
              <i class="fa-solid fa-door-open"></i> Ogródek:
              <strong>{{ house.parter.ogrodek }} m²</strong>
            </p>
          </div>
          <hr ngClass="house-{{ i }}" />
        </div>
        <div class="house-details" [attr.id]="'house-pietro' + i * 100">
          <div class="house-name">
            <div class="house-header">
              <div class="house-title">
                <h2>
                  Dom numer <strong>{{ house.pietro.numer }}</strong>
                </h2>
                <p
                  [ngClass]="
                    house.pietro.dostepnosc
                      ? 'house-available'
                      : 'house-unavailable'
                  "
                >
                  {{
                    parseInt(house.pietro.numer) <= 6 &&
                    !house.pietro.dostepnosc
                      ? "II Etap"
                      : house.pietro.dostepnosc
                      ? "Dostępny"
                      : "Niedostępny"
                  }}
                </p>
              </div>
              <button
                class="action-button"
                ngClass="house-{{ i }}"
                (click)="downloadPDF(house.pietro.pdf)"
              >
                <i class="fa-solid fa-download"></i>
                <p>Szczegóły</p>
              </button>
            </div>
          </div>
          <hr ngClass="house-{{ i }}" />
          <div class="house-description" ngClass="house-{{ i }}">
            <p class="house-column">
              <i class="fa-solid fa-house"></i> Metraż:
              <strong>{{ house.pietro.metraz }} m²</strong><br />
              <i class="fa-solid fa-people-roof"></i> Pokoje:
              <strong>{{ house.pietro.pokoje }}</strong>
            </p>

            <p class="house-column">
              <i class="fa-solid fa-tags"></i> Cena:
              <strong>{{ house.pietro.cena }} zł</strong>
              <br />
              <i class="fa-solid fa-door-open"></i> Poziom:
              <strong>Piętro + poddasze</strong>
            </p>

            <p class="house-column" *ngIf="house.pietro.ogrodek">
              <i class="fa-solid fa-door-open"></i> Ogródek:
              <strong>{{ house.pietro.ogrodek }} m²</strong>
            </p>
          </div>
          <hr ngClass="house-{{ i }}" />
        </div>
      </ng-container>
    </div>
  </div>
</div>
