$primary-color: rgb(46, 54, 45);
$secondary-color: rgb(117, 131, 115);

@import "aos/dist/aos.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@font-face {
  font-family: "LemonMilk";
  src: url("/assets/fonts/LEMONMILK-Bold.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-BoldItalic.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-Light.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-LightItalic.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-Medium.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-MediumItalic.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-ReularItalic.otf") format("otf");
}

body[data-aos-duration="5000"] [data-aos],
[data-aos][data-aos][data-aos-duration="5000"] {
  transition-duration: 5000ms;
}

body {
  background-image: url("assets/images/backgroundConcrete.jpg");
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "LemonMilk", sans-serif;

  .title {
    font-weight: lighter;
    font-size: 4rem;
    margin: 30px;
    color: $primary-color;
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 550px;
      height: 5px;
      background-color: $primary-color;
      transform: translateY(-50%);
    }

    &::before {
      right: 120%;
    }

    &::after {
      left: 120%;
    }
  }

  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
      margin: 20px;

      &::before {
        right: 110%;
      }

      &::after {
        left: 110%;
      }
    }
  }
}
