@use "@angular/material" as mat;
@include mat.core();

$sadowa20website-primary: mat.define-palette(mat.$indigo-palette);
$sadowa20website-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$sadowa20website-warn: mat.define-palette(mat.$red-palette);
$sadowa20website-theme: mat.define-light-theme(
  (
    color: (
      primary: $sadowa20website-primary,
      accent: $sadowa20website-accent,
      warn: $sadowa20website-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include mat.all-component-themes($sadowa20website-theme);

@import "aos/dist/aos.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@font-face {
  font-family: "LemonMilk";
  src: url("/assets/fonts/LEMONMILK-Bold.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-BoldItalic.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-Light.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-LightItalic.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-Medium.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-MediumItalic.otf") format("otf");
  src: url("/assets/fonts/LEMONMILK-ReularItalic.otf") format("otf");
}

body[data-aos-duration="5000"] [data-aos],
[data-aos][data-aos][data-aos-duration="5000"] {
  transition-duration: 5000ms;
}

body {
  background-image: url("assets/images/backgroundConcrete.jpg");
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "LemonMilk", sans-serif;
}
